/* Poppins font */
/* https://fonts.google.com/specimen/Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* responsive */
@import url("/views/css/responsive.css");




/* CSS VARIABLE KLEURGEBRUIK */

/* default */
:root {
  --primary-color: #4bdb08;
  --text-primary: #000000;
  --btn-background-color: aqua;
  --btn-text: #000000;
  --paragraf-color: #333333;
  --skills-color: #6e6e6e;
}

/* Light Theme */
.light-theme {
  --primary-color: #f0f0f0;
  --text-primary: #333333;
  --btn-background-color: #007bff;
  --btn-text: #000000;
  --paragraf-color: #000000;
}

/* Dark Theme */
.dark-theme {
  --primary-color: #1e1e1e;
  --text-primary: #ffffff; 
  --btn-background-color: #f57c00;
  --btn-text: #ffffff;
  --paragraf-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: var(--primary-color);
  color: var(--text-primary);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Header */
header {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  padding: 0.8rem;

  background-color: var(--primary-color);
  color: var(--text-primary);
  border-bottom: 0.0625em solid var(--text-primary);
}

main {
  background-color: var(--primary-color);
  color: var(--text-primary);
  padding: 4.5rem;
}

button {
  border: none;
  padding: 0.7rem 0.9rem;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;

  background-color: var(--btn-background-color);
  color: var(--btn-text);
}

button:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  opacity: 0.9;
}

a {
  background-color: var(--btn-background-color);
  color: var(--btn-text);
  text-decoration: none;
  cursor: pointer;
  padding: 0.1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s, color 0.3s;
}

a:hover {
  opacity: 0.8;
}

form {
  background-color: var(--primary-color);
  color: var(--paragraf-color);
}

.logo {
  background-color: unset;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.icon-contact {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 1.3rem;
  height: 1.3rem;
}


/* Navigation menu */
header nav ul {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
}

header nav ul li {
  margin-left: 1.2rem;
  font-weight: bold;
}

header nav ul li button a {
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s, background-color 0.3s;

  background-color: var(--btn-background-color);
  color: var(--btn-text);
}

header nav ul li button a:hover {
  background-color: var(--btn-background-color);
  color: #fff;
}

header nav ul li button:hover a:hover {
  opacity: 0.8;
}

/* Main content layout with grid */
main {
  display: grid;
  grid-template-columns: 1fr 1fr !important; /* Two equal columns: bio section and image */
  place-items: center;
  flex: 1;
  padding: 4.5rem;
}

.main-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.9rem;
}


.main-2 form {
  margin-bottom: 2.9rem;
  padding: 1.2rem;
  border: 0.0625em  solid #ddd;
  border-radius: 0.3125em;
}

.main-2 form label {
  font-weight: bold;
}

.main-2 form input,
.main-2 form textarea {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.3rem;
  margin-bottom: 0.7rem;
}

.main-2 form button {
  padding: 0.7rem 1.3rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

/* Skills lijst stijl */
.skills-list {
  list-style-type: none;
  padding-left: 0;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom; 
}

.bio-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-list li {
  background-color: var(--primary-color);
  padding: 0.7rem;
  margin-bottom: 0.2rem;
  border-radius: 0.2rem;
}

.bio-section h1 {
  font-size: 2rem;
  margin: 0;
}

.bio-section p {
  font-size: 1rem;
  margin: 0.7rem 0;
}

.buttons {
  margin-top: 1.1rem;
  display: flex;
  gap: 0.9rem;
}

.buttons button {
  padding: 0.7rem 1.1rem;
  margin-right: 0.7rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.project-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 1.1rem;
  border: 0.125rem solid var(--btn-background-color);
  background-color: var(--btn-background-color);
  border-radius: 2rem 2rem;
}

h1.project-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1.1rem;
}

.project-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  max-width: 20rem;
  max-height: 20rem;
  padding: 2rem;
  border-radius: 20%;
  box-shadow: 0.2rem 0.2rem #000;

  background-color: var(--primary-color);
  color: var(--text-primary);
}



.project-details {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1.25rem;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
}

.project-info {
  text-align: center;
  color: var(--paragraf-color);
}

.project-info p {
  font-size: 1.1em;
  margin-bottom: 0.938rem;
  color: var(--paragraf-color);
}

.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.25rem;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 0.938rem;
  margin-top: 1.25rem;
}

.project-links a {
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  border-radius: 0.313rem;
  font-size: 1em;

  background-color: var(--btn-background-color);
  color: var(--btn-text);
}

.contact-box {
  padding: 1rem;
}

.overmij-section {
  width: 100%;
  padding: 3.125rem;
  background-color: #f0f0f0;
  text-align: center;
}

.overmij-section h1 {
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
}

/* Bio and skills sections */
.aboutme-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  align-items: center;
  justify-items: center;
  padding: 1rem;
}

/* Left bio section */
.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio h2 {
  font-size: 1.75rem;
  margin-bottom: 0.625rem;
}

.bio p {
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
  max-width: 12.5rem;
}

.bio button {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  background-color: var(--btn-background-color);
  color: var(--btn-text);
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
}

.bio button:hover {
  background-color: #5a5a5a;
}

/* Divider styling */
.space {
  width: 0.063rem;
  height: 12.5rem;
  background-color: #333;
}

/* Skills section */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills h2 {
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills ul li {
  background-color: var(--btn-background-color);
  color: var(--text-primary);

  font-size: 1.125rem;
  padding: 0.625rem 0;
  width: auto;
  text-align: center;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
  border-radius: 0.313rem;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(9.375rem, 1fr)
  ) !important; /* Responsive skill list */
  gap: 1.25rem;
}

.form-container {
  max-width: 37.5rem;
  margin: 0 auto;
  background: var(--primary-color);
  padding: 1.2rem;
  border-radius: 0.9rem;
  box-shadow: 0 0.125 0.625 rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"],
input[type="url"],
textarea {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.938rem;
  border: 0.063rem solid #ccc;
  border-radius: 0.25rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: auto;
}

td, th {
  border: 0.063rem solid #dddddd;
  text-align: left;
  padding: 0.5rem;
  max-width: 10rem;
  height: auto;
}

tr:nth-child(even) {
  background-color: var(--primary-color);
}


/* Admin pagina stijlen */
.admin-container {
  max-width: 55rem;
  margin: 0 auto;
  padding: 1.25rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
}

.admin-container h1, .admin-container h2 {
  text-align: center; /* Center headings in de admin container */
}

.admin-container form {
  margin: 1.25rem 0;
}

/* Tabellen styling */
.admin-container table {
  width: 100%; 
  border-collapse: collapse; 
  max-width: 50rem; 
  margin: 0 auto; 
}

.admin-container th, .admin-container td {
  padding: 0.625rem; /* Reduce padding for better fit */
  text-align: left; /* Align text to the left */
  border: 0.063rem solid #ccc; /* Keep border style */
}

.admin-container th {
  background-color: #007bff;
  color: white; 
}

.admin-container tr {
  padding: 1.25rem;
  background-color: #f2f2f2; /* Afwisselende rij achtergrondkleur */
}

.admin-container tr:nth-child(even) {
  background-color: #f2f2f2; /* Light background for even rows */
}

.admin-container .actions {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.625rem; /* Ruimte tussen knoppen */
}

.admin-container a {
  text-decoration: none;
  color: #007bff;
  padding: 0.313rem 0.625rem;
  border: 0.063rem solid #007bff;
  border-radius: 0.25rem;
  transition: background-color 0.3s, color 0.3s;
}

.admin-container a:hover {
  background-color: #007bff;
  color: white;
}

.social_links {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

/* Linkedln logo */
.linkedln {
  width: 3.125rem;
  height: 3.125rem;
}

/* Github logo */
.github {
  width: 3.125rem;
  height: 3.125rem;
}

#technology {
  width: 100%;
}

.success-message {
  color: green;
  text-align: center;
  width: 100%;
}

.error-message {
  color: red;
  text-align: center;
  width: 100%;
}

.button-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9rem 1.1rem;
  border: none;
}

a.button-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 1.25rem;
  border: none;
  background-color: var(--btn-background-color);
  color: var(--btn-text);
  text-decoration: none;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;

  background-color: var(--primary-color);
  color: var(--text-primary);
  border-top: 0.063rem solid var(--text-primary);
}

footer a {
  padding: 0;
  color: var(--btn-text);
}

.dark-theme footer p {
  color: var(--text-primary);
}

/* .dark-theme p {
  color: var(--text-primary);
} */

/* .dark-theme strong {
  color: var(--text-primary);
} */

.dark-theme td {
  color: var(--text-primary);
}

.dark-theme i { 
  color: var(--text-primary);
}


.dark-theme label {
  color: var(--text-primary);
}

.dark-theme .skill-list ul li {
  color: var(--text-primary);
}

.dark-theme .main-2 .contact-section .contact-box {
  color: var(--text-primary);
}